{% extends 'CREATE_RUN/base.html' %}
{% block body %}

{% if output %}
<h2 class="mt-3">Všetky behy</h2>
<hr>
<div class="accordion my-3" id="accordionExample">
                {% for beh in output.behy %}
                    <div class="card">
                        <div role="button" class="card-header btn text-left " data-toggle="collapse"
                             data-target="{{ '#collapse' }}{{ forloop.counter }}" aria-expanded="true">
                            <p class="card-text font-weight-bold">{{ beh.name }}</p>
                            <p class="card-text text-muted">{{ beh.datum_konania}}</p>
                        </div>

                        <div id="{{ 'collapse' }}{{ forloop.counter }}" class="collapse"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">Kapacita: {{ beh.kapacita }}</p>
                                            <p class="card-text">Podporný tím: {% if beh.podporny_tim %}Áno{% else %}Nie{% endif %}</p>
                                            <p class="card-text">Typ behu:  {% if beh.stafeta %}Štafeta{% else %}Normálny{% endif %}</p>
                                            <p class="card-text">Počet prihlásených: {{ beh.prihlaseni }}</p>
                                            <p class="card-text">Základná cena: {{ beh.zakladna_cena }} €</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
    {% else %}
        <h1>Nothing is loaded</h1>
    {% endif %}
{% endblock %}